<nav class="nav-guide">
  <div class="menu-lateral sidebar">


    <ul class="list-clear p-m-b mb-32 mt-8">
      <li class="{% if page_title == 'getting' %} link-line {% endif %}">
        <a class="p-xs" target="_parent" href="./tailor.html"
          >Getting Started</a
        >
      </li>

      <li class="{% if page_title == 'startdev' %} link-line {% endif %}">
        <a class="p-xs" target="_parent" href="./startdev.html">Start Dev</a>
      </li>

      <li class="{% if page_title == 'startowner' %} link-line {% endif %}">
        <a class="p-xs" target="_parent" href="./startowner.html">Start Owner</a>
      </li>

      <li class="{% if page_title == 'startdes' %} link-line {% endif %}">
        <a class="p-xs" target="_parent" href="./startdesigner.html"
          >Start Designer (wip)</a
        >
      </li>
    </ul>

    <ul class="list-clear mb-32">
      <div class="doc-menu-title mt-8 mb-4 tit-xs align-middle">Foundations</div>
      <div class="body">
        <li class="{% if page_title == 'layout' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/empezando"> empezando</a>
        </li>
 
        <li class="{% if page_title == 'colores' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/colores">Colores</a>
        </li>
        <li class="{% if page_title == 'images' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/images">images</a>
        </li>
             
    
        <li class="{% if page_title == 'heights' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/heights"> Height </a>
        </li>
        <li class="{% if page_title == 'helpers' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/helpers"> Helpers</a>
        </li>


        <li class="{% if page_title == 'flexbox' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/flexbox"> Flexbox</a>
        </li>

        
        <li class="{% if page_title == 'espaciado' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/espaciado"> Espaciado</a>
        </li>


        <li class="{% if page_title == 'ratios' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/ratios"> Ratios</a>
        </li>
        
        <li class="{% if page_title == 'tipografia' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/tipografia">
            Tipografia</a
          >

                  <li class="{% if page_title == 'videos' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/videos"> Videos</a>
        </li>



        <li class="{% if page_title == 'modales' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/modales"> Modales</a>
        </li>

                <li class="{% if page_title == 'modales' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/markdown"> Markdown</a>
        </li>
                    <!--  
        </li>
        <li class="{% if page_title == 'playground' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/playground">
            Playground</a
          >
        </li>

                <li class="{% if page_title == 'sitemap' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/sitemap">
            Sitemap</a
          >
        </li>




            <li class="{% if page_title == 'icons' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/icons">Icons</a>
        </li>

-->
      </div>
    </ul>
    <ul class="list-clear mb-32">
       
      <div class="doc-menu-title mt-8 mb-4 tit-xs align-middle">
    Elementos
      </div>
      <div class="body">

   
        <li class="{% if page_title == 'buttons' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/buttons"> Buttons </a>
        </li>

        
        <li class="{% if page_title == 'checkbox' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/checkbox"> Checkbox</a>
        </li>
    <li class="{% if page_title == 'links' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="/links"> Links</a>
        </li>
      
        <li class="{% if page_title == 'input' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./input"> Input </a>
        </li>
    
        <li class="{% if page_title == 'list' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./list"> List </a>
        </li>
        <li class="{% if page_title == 'select' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./select"> Select </a>
        </li>
        <li class="{% if page_title == 'tooltip' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./tooltip"> Tooltip </a>
        </li>
        <li class="{% if page_title == 'datalist' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./datalist"> Datalist </a>
        </li>
        <li class="{% if page_title == 'tabs' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./tabs"> Tabs </a>
        </li>
        <li class="{% if page_title == 'tags' %} link-line {% endif %}">
          <a class="p-xs" target="_parent" href="./tags.html"> Tags </a>
        </li>
        <li class="{% if page_title == 'banners' %} link-line {% endif %}">
          <a class="p-xs process" target="_parent" href="./banners.html">
            banners
          </a>
        </li>



      </div>
    </ul>

 </div>
</nav>
<div class="toggle-menu"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{# 


<script src="/js/nav-interactions.js"></script>

<script src="/js/rtl-action-components.js"></script> #}
