---
layout: base.njk
---

{% import "_macros/_token.njk" as tokens %}

<div class="container-fluid">
  {% include '_components/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}






  {% call tokens.element('link-line','350','Loop marquee ') %} {% endcall %}


  {% call tokens.element('link-raw','350','Loop marquee ') %} {% endcall %}




  {% set standardcode   %}
  <a class="mb-16  {{ elementType }} " href=""> {{ elementType }}</a>
  {% endset %}
  
  
  {{standardcode  }}
  


  <pre><code><a class="mb-16  {{ elementType }} " href="">   {{standardcode  }}</a></code></pre>


sfddsfdf

  </div>