
<div class="row has-light ">
    <div class="col-xs-12  has-light height-xl bg-dark">
        <div class="hero  ">

   
        <div class="guide-header flex-column">
            <div class="head-m"> {{ titulo }}</div>
            <div class=" p-xs"> {{ actualizado }} </div>
            <div class=" p-xs"> {{ descripcion }} </div>
        </div>
      </div>
    </div>
</div> 


