---
layout: base.njk
---
<div class="container-fluid">
    {% include '_website/hero.njk' %}
</div>
{% set page_title = "tailor" %}
<div class="main-content">
    <iframe
        src="https://ghbtns.com/github-btn.html?user=holygrailcss&amp;repo=holygrail&amp;type=star&amp;count=true&amp;size=large"
        frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <div class="innermarkdown">
        {{ content | safe }}
    </div>


    <section class="pb-32 mt-32">
        <br>
        <div class="row">
            <div class="col-xs-12 ">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tit-m pb-32"> Empieza con Holygrail </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 mb-24">
                        <div class="rat-2-1 bg-primary has-light p-16">
                            <a href="{{url1}}">
                                <div class="rat-content is-flexinline align-bottom p-16"
                                    style="background-image:url( ' /images/designers.png');background-size: cover;">
                                    <div class="tit-m"> {{seccion1}} </div>
                                    <button class="btn btn-secondary btn--small">{{buttonTitle}}</button>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 mb-24">
                        <a href="{{url2}}">
                            <div class="rat-2-1 bg-primary has-light p-16">
                                <div class="rat-content is-flexinline align-bottom p-16"
                                    style="background-image:url( ' /images/developers.png');background-size: cover;">
                                    <div class="tit-m"> {{seccion2}} </div>
                                    <button class="btn btn-secondary btn--small">{{buttonTitle}}</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6 mb-24">
                        <a href="{{url3}}">
                            <div class="rat-2-1 bg-primary has-light p-16">
                                <div class="rat-content is-flexinline align-bottom p-16"
                                    style="background-image:url( ' /images/lobo.jpeg');background-size: cover;">
                                    <div class="tit-m"> {{seccion3}} </div>
                                    <button class="btn btn-secondary btn--small">{{buttonTitle}}</button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <section class="main-full">
            <div class="row bg-light">
                <div class="col-xs-12  pt-64 pb-64">
                    <div class="tit-m"> Nuestro Design System </div>
                    <div class="p-m"> Echa un vistazo a los últimos componentes creados para generar una mayor
                        consistencia
                        en la experiencia de usuario de Massimo Dutti. </div>
                </div>
            </div>
<ul class="list-grid">



            {% for token in collections.componentes | reverse %}

            {% include 'token-loop.njk' %}
            {% endfor %}

        </ul>


        </section>
</div>