---
layout: base.njk
title: feel
permalink: /feel/
---
{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
	{% include '_website/hero.njk' %}
</div>


	<section class="mb-32 mt-32">
		<div class="row">
			<div class="col-xs-12">

        			{% call insert.template('_tokens/_components/','feelcard', '450px','https://www.figma.com') %} {% endcall %}


        			{% call insert.template('_tokens/_templates/','product-view', '450px','https://www.figma.com') %} {% endcall %}

        			{% call insert.template('_tokens/_templates/', '_parrillas-collection','450px','https://www.figma.com') %} {% endcall %}
			</div>
		</div>
	</section>
<div class="main-content">
	<section class="mb-32 mt-32">
		<div class="row mb-48">
			<div class="col-xs-12">
				<h3 class="h6 ">Timeline Vertical</h3>
				<p class="p1 mb-16">
          Incluida en la versión de holygrail nº70
        </p>
				<div class="box4 my-8">
					<div class="ico-ball mr-16">
						<svg-icon>
							<div>
								<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.65628 1.77402C7.08185 1.59323 7.53842 1.5 7.99983 1.5C8.46124 1.5 8.91782 1.59323 9.34339 1.77402C9.76893 1.95481
                      10.1547 2.21943 10.4792 2.55216C10.8035 2.88486 11.0602 3.27915 11.2351 3.7122C11.3376 3.96603 11.4109 4.2304 11.454
                      4.5H12.1092C13.3955 4.5 14.4719 5.47616 14.5973 6.75641L15.1751 12.659C15.3766 14.7169 13.7596 16.5 11.6918
                      16.5H4.30788C2.24011 16.5 0.623061 14.7169 0.824538 12.659L1.40241 6.75641C1.52775 5.47617 2.60415 4.5 3.89052
                      4.5H4.54566C4.58877 4.2304 4.66206 3.96603 4.76458 3.7122C4.93947 3.27915 5.19613 2.88486 5.52051 2.55216C5.84492 2.21943
                      6.23074 1.95481 6.65628 1.77402ZM4.49983 5.5V7C4.49983 7.27614 4.72369 7.5 4.99983 7.5C5.27598 7.5 5.49983 7.27614
                      5.49983 7V5.5H10.4998V7C10.4998 7.27614 10.7237 7.5 10.9998 7.5C11.276 7.5 11.4998 7.27614 11.4998 7V5.5H12.1092C12.881
                      5.5 13.5268 6.0857 13.602 6.85385L14.1799 12.7564C14.3238 14.2264 13.1688 15.5 11.6918 15.5H4.30788C2.8309 15.5 1.67587
                      14.2264 1.81978 12.7564L2.39765 6.85385C2.47286 6.0857 3.1187 5.5 3.89052 5.5H4.49983ZM10.4364 4.5H5.5633C5.59472 4.35904
                      5.63766 4.22076 5.69181 4.08667C5.81845 3.7731 6.00374 3.489 6.23651 3.25026C6.46926 3.01155 6.74487 2.82289 7.04729
                      2.69441C7.34968 2.56595 7.67331 2.5 7.99983 2.5C8.32636 2.5 8.64999 2.56595 8.95238 2.69441C9.25479 2.82289 9.53041
                      3.01155 9.76315 3.25026C9.99592 3.489 10.1812 3.7731 10.3079 4.08667C10.362 4.22076 10.4049 4.35904 10.4364 4.5Z"
                    fill="#292929"></path>
								</svg>
							</div>
						</svg-icon>
						<div class="ico-count">1</div>
					</div>
					<div class="my-8">
						<div class="mb-8">
							<div class="p-xs">Pending</div>
							<div class="p-xs">+00000pts</div>
						</div>
						<div class="mb-8">
							<div class='c-dark-grey p-xs'>Description</div>
							<div class='c-dark-grey p-xs'>00/00/2023</div>
						</div>
					</div>
				</div>
				<pre><code class='language-markup'>
      {{ "
        <div class='box4 my-8'>
          <div class='ico-ball mr-16'>
            <svg-icon src='shopping-bag'></svg-icon>
            <div class='ico-count'>1</div>
          </div>
          <div class='my-8'>
            <div class='mb-8'>
              <div class='p-xs'>Pending</div>
              <div class='p-xs'>+00000pts</div>
            </div>
            <div class='mb-8'>
              <div class='c-dark-grey p-xs'>Description</div>
              <div class='c-dark-grey p-xs'>00/00/2023</div>
            </div>
          </div>
        </div> " | escape }}</code>
      </pre>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

				<h3 class="h6 ">Paginador Timeline Vertical</h3>
				<p class="p1 mb-16">
          Para progresar la barra, hay que cambiar el width de <code>progress-status</code>
				</p>
				<div class="px-24 pt-16 pb-16">
					<div class="mb-16 text-center">
						<button class="btn btn-link">
              Ver más
              <svg class="ml-8" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.6326 10.5455C2.8199 10.3426 3.13623 10.3299 3.33914 10.5172L7.5 14.358L7.5 0.5C7.5 0.223858 7.72386 0 8 0C8.27614 0
                    8.5 0.223858 8.5 0.5L8.5 14.358L12.6609 10.5172C12.8638 10.3299 13.1801 10.3426 13.3674 10.5455C13.5547 10.7484 13.5421
                    11.0647 13.3391 11.252L8.33914 15.8674C8.14761 16.0442 7.85239 16.0442 7.66086 15.8674L2.66086 11.252C2.45795 11.0647
                    2.4453 10.7484 2.6326 10.5455Z"
                  fill="#292929"/>
							</svg>
						</button>
					</div>
					<div class="mb-16">
						<div class="progressbar">
							<div class="progressbar-status bg-feel" style="width: 40%;"></div>
						</div>
					</div>
					<div class="text-center">
						<p class="p-s c-dark-grey">
              10 de 25
            </p>
					</div>
				</div>
				<pre><code class='language-markup'>
      {{ '
	    <div class="px-24 pt-16 pb-16">
          <div class="mb-16 text-center">
            <button class="btn btn-link">
              Ver más
              <svg-icon class="ml-8" src="arrow-down"></svg-icon>
            </button>
          </div>
          <div class="mb-16">
            <div class="progressbar">
              <div class="progressbar-status bg-feel" style="width: 40%;"></div>
            </div>
          </div>
          <div class="text-center">
            <p class="p-s c-dark-grey">
              10 de 25
            </p>
          </div>
        </div> ' | escape }}</code>
      </pre>
			</div>
		</div>
	</section>
</div>