---
layout: base.njk
title: footer
permalink: /footer/
---
{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
	{% include '_website/hero.njk' %}
</div>


	<section class="mb-32 mt-32">
		<div class="row">
			<div class="col-xs-12">

        			{% call insert.template('_tokens/_components/','footer', '450px','https://www.figma.com') %} {% endcall %}

			</div>
		</div>
	</section>