---
layout: base.njk
title: parrillas index
permalink: /parrillas/
---

<div class="container-full">
	<div class="row">
		<div class="col-xs-12 height-sm"></div>
	</div>
</div>


<div id="mask"></div>



<div class="masonry-8">
	{% for global in global.templates %}
	<a href="#{{ global.parrilla }}" name="modal">
		{{ global.parrilla }} 
   <img src="/assets/static/parrillas/{{ global.parrilla }}.jpg"> 
		 </a>
	{% endfor %}
	

		
</div>
<div id="boxes">
	{% for global in global.templates %}
	<div id="{{ global.parrilla }}" class="window">
	  <b>Testing of Modal Window</b> |
	  <a href="#" class="close">Close it</a>
	  {% include 'parrillas/' + global.parrilla + '.njk' %}
  <div>
    <button class="size-change" data-size="mobile">Mobile</button>
    <button class="size-change" data-size="tablet">Tablet</button>
    <button class="size-change" data-size="desktop">Desktop</button>
  </div>
	</div>
	{% endfor %}


<script src="/assets/js/modal-actions.js"></script>