---
layout: base-clean.njk
---
 <div class="is-flex pt-64">
        <div class=" flex-initial  align-middle mr-16">
            <div class="checkbox-item-box ">
                <div class="checkbox-item">
                    <input id="checkbox_21" type="checkbox"/>
                    <label for="checkbox_21">
                        <i class="icon">
                            <svg width="16" height="16">
                                <g stroke-width="1">
                                    <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
                                </g>
                            </svg>
                        </i>
                    </label>
                </div>
            </div>
        </div>
        <item-product-cart class="flex-1">
            <div class="item-mini-cart  ">
                <div class="row ">
                    <div class="col-xs-3 col-sm-2">
                        <div class="rat-3-4">
                            <div class="rat-content">
                                <img class="img-responsive" src="https://holygrailcss.github.io/assets/placeholder/3-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-10 is-flex content-sp-between flex-column">
                        <div class="row">
                            <div class="col-xs-9">
                                <span class="p-xs tag-warning mb-8" *ngIf="hasStock">
                                    No hay stock
                                </span>
                                <div class="p-xs ttu item-name" *ngIf="isGift">Es un regalo</div>
                                <div class="p-xs  ttu">Zapato tacón piel negro pulsera</div>
                                <div class="p-xs  ">Devolución disponible hasta el 22/04/2022</div>
                                <div class="p-xs  c-info ">Este artículo requiere de condiciones especiales de devolución
                                </div>
                                <div class="p-xs c-dark-grey">
                                    Ref.
                                    <span>1412/950/800</span>
                                </div>
                                <div class="color-wrap mt-8">
                                    <div class="align-items-center">
                                        <div class="product-color-selector is-flex">
                                            <button>
                                                <div class="color-selector"><img src="">
                                                </div>
                                            </button>
                                        </div>
                                        <div class="p-xs">Negro</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 product-price">
                                <shop-cart-price>
                                    <div class="row text-right">
                                        <div class="col-xs-12">
                                            <span class="p-xs is-through c-dark-grey">
                                                89,95&nbsp;€
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row text-right future-price c-sale">
                                        <div class="col-xs-12">
                                            <span class="p-xs">
                                                59,95&nbsp;€
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row text-right">
                                        <div class="col-xs-12">
                                            <span class="p-xs  c-feel-dark">
                                              En MD Feel  49,95&nbsp;€
                                            </span>
                                        </div>
                                        <div class="col-xs-12">
                                            <span class="p-xs  future-price">
                                                59,95&nbsp;€
                                            </span>
                                        </div>
                                    </div>
                                </shop-cart-price>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 content-sp-between is-flex">
                                <div class="align-middle">
                                    <div class="align-middle">
                                        <div class="p-xs mr-8 align-middle">Cantidad</div>
                                        <app-select-ui>
                                            <div class="select select-box">
                                                <select name="" id="630d4db1-b9e9-458f-acc8-d9ba66d44df2">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </app-select-ui>
                                    </div>
                                    <div class="ml-16 align-middle">
                                        <div class="p-xs mr-8 align-middle">Talla</div>
                                        <app-select-ui>
                                            <div class="select select-box">
                                                <select name="" id="7bda5deb-ffdc-4712-9cac-f9b5362017a7">
                                                    <option value="10934498">35</option>
                                                    <option value="10934499">36</option>
                                                    <option value="10934500">37</option>
                                                </select>
                                            </div>
                                        </app-select-ui>
                                    </div>
                                </div>
                                <div class="is-flex">
                                    <button class="btn btn--icon btn-clear state-changing" title="Agregar a la lista de deseos" id="addItemWishlist">
                                        <svg-icon ng-reflect-src="bookmark">
                                            <div>
                                                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M13 1H3V15L8 11L13 15V1Z" stroke="black" stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                        </svg-icon>
                                    </button>
                                    <button class="btn btn--icon btn-clear" title="Eliminar" id="deleteItemShopcart">
                                        <svg-icon>
                                            <div>
                                                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M5 3.65217V1H11V3.65217M5 7V13M8 7V13M11 7V13M2 7.08696V13.1739C2 13.7826 2.36 15 3.8 15H12.2C12.8 15 14 14.6348 14
                                                            13.1739V7.08696V5H2V7.08696Z"
                                                        stroke="black"></path>
                                                </svg>
                                            </div>
                                        </svg-icon>
                                    </button>
                                    <button class="btn btn-secondary btn--medium mt-16 mb-16">Label</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-24">
                            <div class="col-xs-12">
                                <div class="p-xs  ">Requiere de
                                    <div class="link-line">condiciones especiales de devolución</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="mt-20 p-xs">
                                    <div class="p-xs">Customised</div>
                                    <div class="text-faded">
                                        <div>Iniciales: MD</div>
                                        <div>Posición: Outside
                                        </div>
                                        <div>Fuente: Miller
                                        </div>
                                        <div>Color: Oro
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-24">
                            <div class="col-xs-6">
                                falta color<div class="p-xs-b">Comprado</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="link-line p-xs">Disponibilidad en tienda</div>
                    </div>
                </div>
            </div>
        </item-product-cart>
    </div>
