
{% import "_macros/_insert.njk" as insert %}

{% macro feelCard(cardType = '') %}

  {% if cardType == 1 %}
    <div class="container-8 border-1 h-100">
      <div class="row h-100">
        <div class="col-xs-12 flex-column is-flex p-0">
          <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/2-1.jpg" alt="">
          <div class="row align-multi-between h-100 p-16">
            <div class="col-xs-12">
              <div class="mb-24 is-flex flex-column  align-top">
                {% call insert.svgIconname('globe') %}
                {% endcall %}
                <h2 class="p-m-b">This benefit will be available soon (long title)</h2>
                <p class="p-xs c-dark-grey mb-8">Expiry date: 31-12-2021</p>
                <div class="align-multi-top is-flex mb-24">
                  <span class="p-8 bg-feel p-xs mr-8">New benefit</span>
                  <span class="p-8 bg-feel p-xs">New benefit 2</span>
                </div>
              </div>
              <div class="mb-32">
                <h2 class="p-m-b c-feel">Redeem it before it's expire!</h2>
                <p class="p-m">{Short description} Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elseif cardType == 2 %}
    <div class="container-8 border-1 h-100">
      <div class="row h-100">
        <div class="col-xs-12 flex-column is-flex p-0">
          <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/2-1.jpg" alt="">
          <div class="row align-multi-between h-100 p-16">
            <div class="col-xs-12">
              <div class="mb-24 is-flex flex-column  align-top">
                {% call insert.svgIconname('globe') %}
                {% endcall %}
                <h2 class="p-m-b">This benefit will be available soon (long title)</h2>
                <p class="p-xs c-dark-grey mb-8">Expiry date: 31-12-2021</p>
                <div class="align-multi-top is-flex mb-24">
                  <span class="p-8 bg-feel p-xs mr-8">New benefit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% elseif cardType == 3 %}
    <div class="container-8 border-1 h-100">
      <div class="row h-100">
        <div class="col-xs-12 flex-column is-flex p-0">
          <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/2-1.jpg" alt="">
          <div class="row align-multi-between h-100 p-16">
            <div class="col-xs-12">
              <div class="mb-24 is-flex flex-column  align-top">
                {% call insert.svgIconname('globe') %}
                {% endcall %}
                <h2 class="p-m-b">This benefit will be available soon (long title)</h2>
                <p class="p-xs c-dark-grey mb-8">Expiry date: 31-12-2021</p>
                <div class="align-multi-top is-flex mb-24">
                  <span class="p-8 bg-feel p-xs mr-8">New benefit</span>
                  <span class="p-8 bg-feel p-xs">New benefit 2</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row  mb-24">
                <div class="col-xs-6">
                  <p>2000 points</p>
                </div>
                <div class="col-xs-6">
                  <p class="text-right c-dark-grey">800 points to go</p>
                </div>
                <div class="col-xs-12">
                  <div class="progressbar">
                    <div class="progressbar-status bg-feel"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-feel btn--full">Redeem</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container-8 border-1 h-100">
      <div class="row h-100">
        <div class="col-xs-12 flex-column is-flex p-0">
          <img class="w-100" src="https://holygrailcss.github.io/assets/placeholder/2-1.jpg" alt="">
          <div class="row align-multi-between h-100 p-16">
            <div class="col-xs-12">
              <div class="mb-24 is-flex flex-column  align-top">
                {% call insert.svgIconname('globe') %}
                {% endcall %}
                <h2 class="p-m-b">This benefit will be available soon (long title)</h2>
                <p class="p-xs c-dark-grey mb-8">Expiry date: 31-12-2021</p>
                <div class="align-multi-top is-flex mb-24">
                  <span class="p-8 bg-feel p-xs mr-8">New benefit</span>
                  <span class="p-8 bg-feel p-xs">New benefit 2</span>
                </div>
              </div>
              <div class="mb-32">
                <h2 class="p-m-b c-feel">Redeem it before it's expire!</h2>
                <p class="p-m">{Short description} Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row mb-24">
                <div class="col-xs-6">
                  <p>2000 points</p>
                </div>
                <div class="col-xs-6">
                  <p class="text-right c-dark-grey">800 points to go</p>
                </div>
                <div class="col-xs-12">
                  <div class="progressbar">
                    <div class="progressbar-status bg-feel"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-feel btn--full">Redeem</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endmacro %}