{% macro component2(component='',size='',componentfigma="" ,descripcion='') %}
<section class="mb-32 mt-32 ">
    <div class="resize-container">
        <div class="resize-bar p-xs">
            <div class="resize-name">
                <div class="tit-m">{{ component | capitalize }}</div>
            </div>
            <div class="resize-snip">
                <a target="_blank" href=" {{ componentfigma }}">
                    FIGMA
                </a>
            </div>
            <div class="resize-snip">
                <a class="" target="_blank" href="/tokens/{{ component }}">
                    VER
                </a>
            </div>
            <div class="resize-code">
                <div class="p-xs">
                    CODE </div>
            </div>
        </div>
        <div class="viewcode">
            <pre><code class="language-markup">{% set standardcode %} {% include '../tokens/'+component +'.njk' %}   {# esto si funciona #}{% endset %}{{standardcode}}</code></pre>
        </div>
        <div class="main-content">
            <div class="col-xs-12">{{descripcion}}</div>
        </div>
        <div class="resize">
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="resize-content">
                <div class="resize-media"></div>
                <div class="resize-resolution"></div>
            </div>
            <div class="resize-left"></div>
            <div class="resize-right"></div>
            <iframe id="cover1" class="resizable" src="/tokens/{{ component }}" width="100%" height="{{ size }}"
                frameborder="0" seamless></iframe>
        </div>
    </div>
    </div>
</section>
{% endmacro %}