{% macro token(tokenType = '', explicacion = '', dark = '') %}
  <h3>{{ tokenType }}</h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="resize-mini">
    <div class="resize-mini-content-narrow {{dark  }} ">
      {% include '_components/' + tokenType + '.njk' %}
    </div>
  </div>
  {% set standardcode %}
  {% include '_components/' + tokenType + '.njk' %}
  {% endset %}
  <pre><code class=" ">{{standardcode }} </code></pre>
{% endmacro %}

{# TODO JUNTAR MACROS LINKS #}
{% macro link(elementType = '', explicacion = '', dark = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="code-view ">
    <div class="check-new"></div>
    <a class="{{ elementType }}" href="">
      {{ elementType }}
    </a>
  </div>
  {% set standardcode %}
  <a class="{{ elementType }}" href="">
    {{ elementType }}
  </a>
  {% endset %}
  <pre><code class="language-markup">{{standardcode}}</code></pre>
{% endmacro %}

{% macro linkPost(elementType = '', explicacion = '', dark = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="code-view ">
    <div class="check-new"></div>
    <a class="link-line {{ elementType }}" href="">
      {{ elementType }}
      <svg-icon src="alert">
        <div>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5C11.5899 14.5 14.5 11.5899 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5ZM0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8ZM8 4.5C8.27614 4.5 8.5 4.72386 8.5 5V5.5C8.5 5.77614 8.27614 6 8 6C7.72386 6 7.5 5.77614 7.5 5.5V5C7.5 4.72386 7.72386 4.5 8 4.5ZM8 7.5C8.27614 7.5 8.5 7.72386 8.5 8V11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11V8C7.5 7.72386 7.72386 7.5 8 7.5Z" fill="#292929"></path>
          </svg>
        </div>
      </svg-icon>
    </a>
  </div>
  {% set standardcode %}
  <a class="link-line {{ elementType }}" href="">
    {{ elementType }}
    <svg-icon src="alert"></svg-icon>
  </a>
  {% endset %}
  <pre><code class="language-markup">{{standardcode}}</code></pre>
{% endmacro %}

{% macro linkPre(elementType = '', explicacion = '', dark = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="code-view ">
    <div class="check-new"></div>
    <a class="link-line {{ elementType }}" href="">
      <svg-icon src="alert">
        <div>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.5C4.41015 1.5 1.5 4.41015 1.5 8C1.5 11.5899 4.41015 14.5 8 14.5C11.5899 14.5 14.5 11.5899 14.5 8C14.5 4.41015 11.5899 1.5 8 1.5ZM0.5 8C0.5 3.85786 3.85786 0.5 8 0.5C12.1421 0.5 15.5 3.85786 15.5 8C15.5 12.1421 12.1421 15.5 8 15.5C3.85786 15.5 0.5 12.1421 0.5 8ZM8 4.5C8.27614 4.5 8.5 4.72386 8.5 5V5.5C8.5 5.77614 8.27614 6 8 6C7.72386 6 7.5 5.77614 7.5 5.5V5C7.5 4.72386 7.72386 4.5 8 4.5ZM8 7.5C8.27614 7.5 8.5 7.72386 8.5 8V11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11V8C7.5 7.72386 7.72386 7.5 8 7.5Z" fill="#292929"></path>
          </svg>
        </div>
      </svg-icon>
      {{ elementType }}
    </a>
  </div>
  {% set standardcode %}
  <a class="link-line {{ elementType }}" href="">
    {{ elementType }}
    <svg-icon src="alert"></svg-icon>
  </a>
  {% endset %}
  <pre><code class="language-markup">{{standardcode}}</code></pre>
{% endmacro %}
{# TODO END #}

{# TODO JUNTAR MACROS CHECK #}
{% macro checkbox(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}</h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="checkbox-item-box">
        <div class="checkbox-item">
          <input id="checkbox_1" type="checkbox"/>
          <label for="checkbox_1">
            <i class="icon">
              <svg width="16" height="16">
                <g stroke-width="1">
                  <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
                </g>
              </svg>
            </i>
          </label>
        </div>
      </div>
    </div>
    {% set standardcode %}
    <div class="checkbox-item-box">
      <div class="checkbox-item">
        <input id="checkbox_1" type="checkbox"/>
        <label for="checkbox_1">
          <i class="icon">
            <svg width="16" height="16">
              <g stroke-width="1">
                <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
              </g>
            </svg>
          </i>
        </label>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro checkboxText(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="checkbox-item">
        <input id="checkbox_2" type="checkbox">
        <label for="checkbox_2">
          <i class="icon">
            <svg width="16" height="16">
              <g stroke-width="1">
                <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
              </g>
            </svg>
          </i>
          <span class="p-xs">
            checkbox-item <a href="#">legal text</a>
          </span>
        </label>
      </div>
    </div>
    {% set standardcode %}
    <div class="checkbox-item">
      <input id="checkbox_2" type="checkbox">
      <label for="checkbox_2">
        <i class="icon">
          <svg width="16" height="16">
            <g stroke-width="1">
              <polyline fill="none" stroke="#000000" points="1,9 5,13 15,3 "></polyline>
            </g>
          </svg>
        </i>
        <span class="p-xs">
            checkbox-item <a href="#">legal text</a>
        </span>
      </label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro checkbox2(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="checkbox-item-2">
        <input id="checkbox18" name="checkbox18" type="checkbox" class="ng-valid"/>
        <label for="checkbox18">
          <div class="checkbox-circle"></div>
          <span class="theta">checkbox-item-2</span>
        </label>
      </div>
    </div>
    {% set standardcode %}
    <div class="checkbox-item-2">
      <input id="checkbox18" name="checkbox18" type="checkbox" class="ng-valid"/>
      <label for="checkbox18">
        <div class="checkbox-circle"></div>
        <span class="theta">checkbox-item-2</span>
      </label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro checkboxRadio(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="checkbox-radio">
        <input id="1" name="gender" type="radio" value="F"/>
        <label for="1">
          <i class="ico-radio"></i>
          <span class="p-xs">checkbox-radio</span>
        </label>
      </div>
      <div class="checkbox-radio">
        <input id="2" name="gender" type="radio" value="F"/>
        <label for="2">
          <i class="ico-radio"></i>
          <span class="p-xs">checkbox-radio</span>
        </label>
      </div>
    </div>
    {% set standardcode %}
    <div class="checkbox-radio">
      <input id="1" name="gender" type="radio" value="F"/>
      <label for="1">
        <i class="ico-radio"></i>
        <span class="p-xs">checkbox-radio</span>
      </label>
    </div>
    <div class="checkbox-radio">
      <input id="2" name="gender" type="radio" value="F"/>
      <label for="2">
        <i class="ico-radio"></i>
        <span class="p-xs">checkbox-radio</span>
      </label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro checkboxCard(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="row">
        <div class="col-xs-12 mb-8">
          <div class="checkbox-card">
            <input id="17-1" name="gender" type="radio">
            <label for="17-1" class=" checkbox-card-label">
              <div class=" p-xs-b">Recoger el 24/09 en la misma tienda</div>
            </label>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="checkbox-card">
            <input id="17-3" name="gender" type="radio" value="a">
            <label for="17-3" class=" checkbox-card-label ">
              <div class=" p-xs-b">Guardar los artículos en “Comprar más tarde” </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    {% set standardcode %}
    <div class="row">
      <div class="col-xs-12 mb-8">
        <div class="checkbox-card">
          <input id="17-1" name="gender" type="radio">
          <label for="17-1" class=" checkbox-card-label">
            <div class=" p-xs-b">Recoger el 24/09 en la misma tienda</div>
          </label>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="checkbox-card">
          <input id="17-3" name="gender" type="radio" value="a">
          <label for="17-3" class=" checkbox-card-label ">
            <div class=" p-xs-b">Guardar los artículos en “Comprar más tarde” </div>
          </label>
        </div>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}
{# TODO END #}

{# TODO INPUTS #}
{% macro input(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="form-input-label-2">
        <input type="text" id="basico1" class="input" placeholder="Nombre">
        <label for="basico1">{{ elementType }}</label>
      </div>
    </div>
    {% set standardcode %}
    <div class="form-input-label-2 mb-16">
      <input type="text" id="basico1" class="input" placeholder="Nombre">
      <label for="basico1">{{ elementType }}</label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputTexto(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div>
        <div class="p-s">
          Titular del input básico
        </div>
        <div class="form-input-label-2 mb-16  ">
          <input type="email" id="t2" class="input" placeholder="Email address" required="">
          <label for="t2">form input label 2 </label>
          <div class="p-s c-dark-grey pt-8">
            Texto explicativo
          </div>
        </div>
      </div>
    </div>
    {% set standardcode %}
    <div>
      <p class="p-s">
          Titular del input básico
        </p>
      <div class="form-input-label-2 mb-16  ">
        <input type="email" id="t2" class="input" placeholder="Email address" required="">
        <label for="t2">form input label 2 </label>
        <p class="p-s c-dark-grey pt-8">
            Texto explicativo
          </p>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputError(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class='form-input-label-2 mb-16 is-error '>
        <input type='email' id='t2' class='input' placeholder='Email address' required=''/>
        <label for='t2'>form input label 2</label>
        <div class='validation-error-messages'>
          <div class='help p-xs'>
            <svg-icon src='warning' class='pr-8'>
              <div>
                <svg width='16' height='16' viewBox='0 0 16 16' fill='none'
                        xmlns='http://www.w3.org/2000/svg'>
                  <path d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z'
                            fill='black'></path>
                </svg>
              </div>
            </svg-icon>
            Mensaje de error nuevo , empuja el siguiente 
            Mensaje de error nuevo , empuja el siguiente 
            Mensaje de error nuevo , empuja el siguiente 
            Mensaje de error nuevo , empuja el siguiente 
            Mensaje de error nuevo , empuja el siguiente
          </div>
        </div>
      </div>
    </div>
    {% set standardcode %}
    <div class="form-input-label-2 mb-16 is-error ">
      <input type="email" id="t2" class="input" placeholder="Email address" required="">
      <label for="t2">form input label 2</label>
      <div class="validation-error-messages">
        <div class="help p-xs">
          <svg-icon src="alert"></svg-icon>
            Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente
        </div>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputPre(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="form-input-label-2 mb-16 has-ico-pre  ">
        <input type="email" id="t3" class="input" placeholder="Email address" required="">
        <div class="ico-pre">
          <svg-icon src='warning' class='pr-8'>
            <div>
              <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z' fill='black'></path>
              </svg>
            </div>
          </svg-icon>
        </div>
        <label for="t3">has ico pre</label>
      </div>
    </div>
    {% set standardcode %}
    <div class="form-input-label-2 mb-16 has-ico-pre  ">
      <input type="email" id="t3" class="input" placeholder="Email address" required="">
      <div class="ico-pre">
        <svg-icon src="alert"></svg-icon>
      </div>
      <label for="t3">has ico pre</label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputPost(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      <div class="form-input-label-2 mb-16 has-ico-post  ">
        <input type="email" id="t3" class="input" placeholder="Email address" required="">
        <div class="ico-post">
          <svg-icon src='warning' class='pr-8'>
            <div>
              <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z' fill='black'></path>
              </svg>
            </div>
          </svg-icon>
        </div>
        <label for="t3">has ico post</label>
      </div>
    </div>
    {% set standardcode %}
    <div class="form-input-label-2 mb-16 has-ico-post  ">
      <input type="email" id="t3" class="input" placeholder="Email address" required="">
      <div class="ico-post">
        <svg-icon src="alert"></svg-icon>
      </div>
      <label for="t3">has ico post</label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputPwd(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      {# ---------- #}
      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tit-s mb-16"> Input Password</div>
            <div class="form-input-label-2 form-input-pass has-ico-post">
              <input type="password" id="t5" class="input" placeholder="Password">
              <label for="t5">Input Password</label>
              <div class="ico-post">
                <svg-icon>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
                    <g transform="translate(0, 0)">
                      <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0.5,8 c0,0,3-5.5,7.5-5.5S15.5,8,15.5,8s-3,5.5-7.5,5.5S0.5,8,0.5,8z"></path>
                      <path data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5,8 c0-1.657,1.343-3,3-3"></path>
                      <path data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d=" M11,8c0,1.657-1.343,3-3,3"></path>
                      <line data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" y1="15" x2="15" y2="1"></line>
                    </g>
                  </svg>
                </svg-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-6">
            <ul class=" list-mini p-xs">
              <li>lorem</li>
              <li>lorem</li>
              <li>lorem</li>
              <li>lorem</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class=" list-mini p-xs">
              <li class="is-missing">lorem</li>
              <li>lorem</li>
              <li>lorem</li>
              <li>lorem</li>
            </ul>
          </div>
        </div>
      </div>
      {# ---------- #}
    </div>
    {% set standardcode %}
    <div>
      <div class="row">
        <div class="col-xs-12">
          <div class="tit-s mb-16"> Input Password</div>
          <div class="form-input-label-2 form-input-pass has-ico-post">
            <input type="password" id="t5" class="input" placeholder="Password">
            <label for="t5">Input Password</label>
            <div class="ico-post">
              <svg-icon>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
                  <g transform="translate(0, 0)">
                    <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0.5,8 c0,0,3-5.5,7.5-5.5S15.5,8,15.5,8s-3,5.5-7.5,5.5S0.5,8,0.5,8z"></path>
                    <path data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M5,8 c0-1.657,1.343-3,3-3"></path>
                    <path data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d=" M11,8c0,1.657-1.343,3-3,3"></path>
                    <line data-color="color-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" y1="15" x2="15" y2="1"></line>
                  </g>
                </svg>
              </svg-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-6">
          <ul class=" list-mini p-xs">
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class=" list-mini p-xs">
            <li class="is-missing">lorem</li>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
          </ul>
        </div>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputDisabled(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      {# ---------- #}
      <div class="form-input-label-2 mb-16">
        <input type="text" id="basico1" class="input input-notouch" placeholder="Nombre">
        <label for="basico1">Input Básico</label>
      </div>
      {# ---------- #}
    </div>
    {% set standardcode %}
    <div class="form-input-label-2 mb-16">
      <input type="text" id="basico1" class="input input-notouch" placeholder="Nombre">
      <label for="basico1">Input Básico</label>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}

{% macro inputIpod(elementType = '', explicacion = '') %}
  <h3>{{ elementType }}
  </h3>
  <p class="p-xs">{{ explicacion }}</p>
  <div class="mb-32 ">
    <div class="code-view ">
      <div class="check-new"></div>
      {# ---------- #}
      <div class="row">
        <div class="col-xs-6 ">
          <label class="p-xs" for=""> Input</label>
          <input type="text" placeholder="input" class="input">
        </div>
        <div class="col-xs-6 is-error">
          <label class="p-xs" for=""> is-error</label>
          <input type="text" placeholder="is-error" class="input">
        </div>
        <div class="col-xs-6 ok-input">
          <label class="p-xs" for=""> ok-input</label>
          <input type="text" placeholder="ok-input" class="input">
        </div>
        <div class="col-xs-6 disabled-input">
          <label class="p-xs" for=""> disabled-input</label>
          <input type="text" placeholder="disabled-input" class="input">
        </div>
      </div>
      {# ---------- #}
    </div>
    {% set standardcode %}
    <div class='row'>
      <div class='col-xs-6 is-error | ok-input | disabled-input'>
        <label class='p-xs' for=''>Input</label>
        <input type='text' placeholder='input' class='input'/>
      </div>
    </div>
    {% endset %}
    <div class="code-zone">
      <pre><code class=" language-markup">{{standardcode}}</code></pre>
    </div>
  </div>
{% endmacro %}
{# TODO END #}