---
layout: base.njk
---

<div class="container-fluid">{% include '_website/hero.njk' %}</div>
<div class="main-content">
    <section class="mb-32 mt-32">
        <div class="row">
            <div class="col-xs-12">
                <div class="tit-s c-dark-grey">
                    Es la base de la distribución de todos los elementos en en nuestras
                    maquetas.
                </div>
            </div>
        </div>
    </section>
    <section class="mb-100 mt-32">
        <div class="row">
            <div class="col-xs-12">
                <p class="p-xs">
                    Flexbox viene de “Flexible Box Layout“, que se puede traducir como
                    “Diseño de caja flexible“, y nos aporta una magnífica solución para
                    todos nuestros desarrollos “responsive”.
                </p>
                <p class="p-xs mb-48">
                    Lo que nos permite es crear un conjunto de elementos flexibles que se
                    adaptan automáticamente a su contenedor y con el que podemos controlar
                    parámetros tales como la alineación, dirección (horizontal/vertical).
                </p>
                <h6 class="mb-32">Dar propiedas flex a un contenedor</h6>


                <p class="p-xs mb-16">
                    Para que los elementos se distribuyan de acuerdo a las reglas flex el
                    padre de los elementos debe tener en sus estilos la propiedad display
                    en flex, para ello usaremos la clase <code>.is-flex</code>
                </p>




                <div class="row">
                    <div class="col-xs-12">
                        <h6 class="mb-32">Atributos Flex que podemos aplicar</h6>
                    </div>
                </div>



                <div class="row">

                    <div class="col">
                        <div class="flexbox-demo item-w">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="flexbox-demo-is-flex hidden">is-flex</div>
                        <div class="flexbox-demo-is-flexinline hidden">is-flexinline</div>
                        <div class="flexbox-demo-is-align-center hidden">align-center</div>
                        <div class="flexbox-demo-is-flex-row hidden">flex-row *</div>
                        <div class="flexbox-demo-is-flex-column hidden">flex-column*</div>
                        <div class="flexbox-demo-is-wrap hidden">flex-wrap*</div>
                        <div class="flexbox-demo-is-nowrap hidden">flex-nowrap*</div>
                        <div class="flexbox-demo-is-content-start hidden">
                            content-start*
                        </div>
                        <div class="flexbox-demo-is-content-end hidden">content-end*</div>
                        <div class="flexbox-demo-is-content-center hidden">
                            content-center*
                        </div>
                        <div class="flexbox-demo-is-content-between hidden">
                            content-sp-between*
                        </div>
                        <div class="flexbox-demo-is-content-around hidden">
                            content-sp-around*
                        </div>
                        <div class="flexbox-demo-is-content-evenly hidden">
                            content-sp-evenly*
                        </div>
                        <div class="flexbox-demo-is-align-top hidden">align-top*</div>
                        <div class="flexbox-demo-is-align-middle hidden">align-middle</div>
                        <div class="flexbox-demo-is-align-multi-bottom hidden">
                            align-multi-bottom*
                        </div>
                        <div class="flexbox-demo-is-align-multi-top hidden">
                            align-multi-top
                        </div>
                        <div class="flexbox-demo-is-align-bottom hidden">
                            align-multi-bottom
                        </div>
                        <div class="flexbox-demo-is-align-multi-center hidden">
                            align-multi-center
                        </div>
                        <div class="flexbox-demo-is-align-multi-between hidden">
                            align-multi-between
                        </div>
                        <div class="flexbox-demo-is-align-multi-around hidden">
                            align-multi-around
                        </div>
                        <div class="flexbox-demo-is-align-multi-strech hidden">
                            align-multi-stretch
                        </div>
                        <div class="flexbox-demo-is-align-items-center hidden">
                            align-items-center
                        </div>
                        <div class="flexbox-demo-is-align-vertical hidden">
                            align-vertical
                        </div>
                    </div>
                </div>


                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Mostrar</div>
                        <div class="p-s">Habilita flex para todos sus hijos</div>
                    </div>
                </div>
                <div class="row mb-64">
                    <div class="col-xs-2">
                        <h5 class="p-s">.is-flex</h5>
                        <div class="item-w is-flex" onclick="isFlex(this)">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <h5 class="p-s">.is-flexinline</h5>
                        <div class="item-w is-flexinline" onclick="isFlexInline()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-center</h5>
                            <div class="item-w is-flex align-center" onclick="isFlexAlignCenter()">
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Eje</div>
                        <div class="p-s">
                            Establece el eje principal.Requiere de .is-flex
                        </div>
                    </div>
                </div>
                <div class="row mb-64">
                    <div class="col-xs-2">
                        <h5 class="p-s">.flex-row</h5>
                        <div class="item-w is-flex flex-row" onclick="isFlexRow()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <h5 class="p-s">.flex-column</h5>
                        <div class="item-w is-flex flex-column" onclick="isFlexColumn()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Envoltura flex</div>
                        <div class="p-s">
                            Envuelve elementos si no se pueden hacer todos para que quepan en
                            una línea.Requiere de is-flex
                        </div>
                    </div>
                </div>
                <div class="row mb-64">
                    <div class="col-xs-2">
                        <h5 class="p-s">.flex-wrap</h5>
                        <div class="item-w is-flex flex-wrap" onclick="isFlexWrap()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <h5 class="p-s">.flex-nowrap</h5>
                        <div class="item-w is-flex flex-nowrap" onclick="isFlexNoWrap()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Justificar-contenido</div>
                        <div class="p-s">
                            Intenta distribuir espacio adicional en el eje principal. Requiere
                            .is-flex
                        </div>
                    </div>
                </div>
                <div class="row mb-64">
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.content-start</h5>
                            <div class="item-w is-flex content-start" onclick="isFlexContentStart()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.content-end</h5>
                            <div class="item-w is-flex content-end" onclick="isFlexContentEnd()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.content-center</h5>
                            <div class="item-w is-flex content-center" onclick="isFlexContentCenter()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.content-sp-between</h5>
                            <div class="item-w is-flex content-sp-between" onclick="isFlexContentBetween()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.content-sp-around</h5>
                            <div class="item-w is-flex content-sp-around" onclick="isFlexContentAround()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div>
                            <h5 class="p-s">.content-sp-evenly</h5>
                            <div class="item-w is-flex content-sp-evenly" onclick="isFlexContentEvenly()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Alinear-elementos</div>
                        <div class="p-s">
                            Determina cómo se disponen los elementos en el eje transversal.
                        </div>
                    </div>
                </div>
                <div class="row mb-64">

                    <div class="col-xs-2">
                        <h5 class="p-s">.align-top</h5>
                        <div class="item-w is-flex align-top" onclick="isFlexAlignTop()">
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                            <div class="item-i"></div>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-middle</h5>
                            <div class="item-w is-flex align-middle" onclick="isFlexAlignMiddle()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-bottom</h5>
                            <div class="item-w is-flex align-multi-bottom" onclick="isFlexAlignMultiBottom()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-items-center</h5>
                            <div class="item-w is-flex align-items-center" onclick="isFlexAlignItemsCenter()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-vertical</h5>
                            <div class="item-w is-flex align-vertical" onclick="isFlexAlignVertical()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-40 pb-40">
                    <div class="col-xs-12">
                        <div class="tit-s">Alinear-contenido</div>
                        <div class="p-s">
                            Solo tiene efecto con más de una línea de contenido. Los ejemplos
                            que se muestran aquí usan envoltura flexible.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-top</h5>
                            <div class="item-w is-flex align-multi-top" onclick="isFlexAlignMultiTop()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-bottom</h5>
                            <div class="item-w is-flex align-bottom" onclick="isFlexAlignBottom()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-center</h5>
                            <div class="item-w is-flex align-multi-center" onclick="isFlexAlignMultiCenter()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-between</h5>
                            <div class="item-w is-flex align-multi-between" onclick="isFlexAlignMultiBetween()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-around</h5>
                            <div class="item-w is-flex align-multi-around" onclick="isFlexAlignMultiAround()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="">
                            <h5 class="p-s">.align-multi-stretch</h5>
                            <div class="item-w is-flex align-multi-stretch" onclick="isFlexAlignMultiStretch()">
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                                <div class="item-i"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>