---
layout: base.njk
---
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>

{% import "_macros/_insert.njk" as insert %}

<div class="main-content"> 



<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m mb-24">Svg icon</div>
    </div>
    <div class="col-xs-12">
      <div class="tit-s c-dark-grey mb-24">
        En el proyecto contamos con un componente que crea iconos basados en svg
        llamado <b><i>svg-icon</i></b>.
      </div>
      <div class="p-s  mb-32">
        Es importante asegurarse que tenemos importado el modulo de svg en el componente </b>.
      </div>
      <pre>
        <code class="language-js">
import { UiSvgIconModule } from '@shared/ui/svg-icon/svg-icon.module';
        </code>
       </pre>
    </div>
  </div>
</section>
<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Como usar</div>
    </div>
    <div class="col-xs-12">
      <p class="p-s mb-16">
        Al usar el componente solo hay que asignar el parámetro
        <b><i>src</i></b> con el icono a usar, que a su vez deberá estar en el
        archivo icons.json en el proyecto.
      </p>
      <a class="btn btn-primary btn--mini" href="../icons/icons.json">
        Ver Archivo json
      </a>
    </div>
  </div>
</section>
<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="mb-24">Icono Básico</h3>
      <div class="resize-mini">
        <div class="resize-mini-content">
          <img
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="
            alt="" />
        </div>
        <pre>
                    <code class="language-markup">{{ "<svg-icon src='alert'></svg-icon>" | escape }}</code>
                </pre>
      </div>
      <h3 class="mb-16">Variante de color</h3>
      <p class="p-s mb-16">
        Usaremos la clase <code>ico-white </code> <code>ico-success </code> <code>ico-error </code> en el interior del
        svg-icon .
      </p>
      <div class="resize-mini">
        <div class="resize-mini-content bg-dark">
          <img style="filter: invert(1)"
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="
            alt="" /> <br>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iIzc2QUU0QSIvPgo8L3N2Zz4="
            alt="" /> <br>
          <img
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNSA4VjguNUg3LjVWOEg4LjVaTTcuNSA1VjQuNUg4LjVWNUg3LjVaTTguNSAxMUM4LjUgMTEuMjc2MSA4LjI3NjE0IDExLjUgOCAxMS41QzcuNzIzODYgMTEuNSA3LjUgMTEuMjc2MSA3LjUgMTFIOC41Wk03LjUgMTAuNUM3LjUgMTAuMjIzOSA3LjcyMzg2IDEwIDggMTBDOC4yNzYxNCAxMCA4LjUgMTAuMjIzOSA4LjUgMTAuNUg3LjVaTTE0LjUgOEMxNC41IDQuNDEwMTUgMTEuNTg5OSAxLjUgOCAxLjVWMC41QzEyLjE0MjEgMC41IDE1LjUgMy44NTc4NiAxNS41IDhIMTQuNVpNOCAxLjVDNC40MTAxNSAxLjUgMS41IDQuNDEwMTUgMS41IDhIMC41QzAuNSAzLjg1Nzg2IDMuODU3ODYgMC41IDggMC41VjEuNVpNMS41IDhDMS41IDExLjU4OTkgNC40MTAxNSAxNC41IDggMTQuNVYxNS41QzMuODU3ODYgMTUuNSAwLjUgMTIuMTQyMSAwLjUgOEgxLjVaTTggMTQuNUMxMS41ODk5IDE0LjUgMTQuNSAxMS41ODk5IDE0LjUgOEgxNS41QzE1LjUgMTIuMTQyMSAxMi4xNDIxIDE1LjUgOCAxNS41VjE0LjVaTTcuNSA4VjVIOC41VjhINy41Wk03LjUgMTFWMTAuNUg4LjVWMTFINy41WiIgZmlsbD0iI0I0MDAxNiIvPgo8L3N2Zz4="
            alt="" />
        </div>
        <pre>
                  <code class="language-markup">{{ "<svg-icon src='alert' class='ico-white'></svg-icon>
<svg-icon src='alert' class='ico-success'></svg-icon>
<svg-icon src='alert' class='ico-error'></svg-icon>" | escape }}</code>
                </pre>
      </div>
    </div>
  </div>
</section>


<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Incluir iconos al inventario</div>
    </div>
    <div class="col-xs-12">
      <div class="tit-s c-dark-grey mb-32">
        Cuando necesites incorporar un nuevo icono en la lista sigue atentamente
        estas recomendaciones:
      </div>
      <p class="p-s mb-24">
        Recuerda que el recurso gráfico <b>SIEMPRE</b> debe ser proveído por art
        digital o estar en el <b>MD DESING SYSTEM</b> en figma
      </p>
      <p class="p-s mb-24">
        Cuando exportes el SVG, ábrelo en un editor de código y valida que:
      </p>
      <ul class="mb-24">
        <ol>
          <b>1 –</b>
          No tenga etiquetas ID en su estructura
        </ol>
        <ol>
          <b>2 –</b>
          Debe contener elementos path y no rect, circle...
        </ol>
      </ul>
      <div class="tip">
        <div class="tit-s"><b> truco </b></div>
        A la hora de incluirlo en el json, recuerda mantener el orden alfabético
        para mantener el orden. Usaremos la extensión de visual studio
        <b>Alphabetical Sorter</b>
      </div>
      <p class="p-s mt-48">Guia para incluir iconos desde Figma:</p>
      <div style="position: relative; padding-bottom: 62.5%; height: 0">
        <iframe src="https://www.loom.com/embed/31072d083792468f842532573d080bf2" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"></iframe>
      </div>
    </div>
  </div>
</section>
</div>



<section class="m-32">
  <div class="row">
    <div class="col-xs-12">
      <p class="tit-s ">
        Iconos
      </p>
      <p class="p-s mb-32">
        Inventario de iconos disponibles, todo en minúsculas y separado por
        guión medio.
      </p>
      <div class="tabguide mb-16">
        <ul id="tabguide-nav" class="tabguide-head list-inline sticky-top bg-white">
          <li><a href="#tabguide1">Normal</a></li>
          <li>
            <a href="#tabguide2">white <code>ico-white</code></a>
          </li>
          <li>
            <a href="#tabguide3">success <code>ico-success</code></a>
          </li>
          <li>
            <a href="#tabguide4">error <code>ico-error</code></a>
          </li>

          <li>
            <a href="#tabguide5">Dentro de un botón <code>btn</code></a>
          </li>
        </ul>
        <!-- END tabguideguide-nav -->
        <div id="tabguide-content">
          <div id="tabguide1" class="tabguide-content">
            <div id="loopicons" class="text-12-r"></div>
          </div>
          <div id="tabguide2" class="tabguide-content has-light bg-dark">
            <div id="loopicons2" class="text-12-r"></div>
          </div>
          <div id="tabguide3" class="tabguide-content has-success">
            <div id="loopicons3" class="text-12-r"></div>
          </div>
          <div id="tabguide4" class="tabguide-content has-error">
            <div id="loopicons4" class="text-12-r"></div>
          </div>

          <div id="tabguide5" class="tabguide-content btn-secondary">
            <div id="loopicons5" class="p-s"></div>
          </div>
        </div>
        <!-- END tabguideguide-content -->

      <!-- END tabguideguide -->
      </div>
      <p class="p-s mb-16">
        Marcar que iconos no tienen el tamaño de 16x16: 
      </p>
      <button class="btn btn-primary btn--mini mb-16 check-16">Test</button>
    </div>
  </div>
</section>

<div class="main-content"> 

<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Tamaños de iconos</div>
      <p class="p-s mb-16">Podemos cambiar el tamaño de los iconos con las clases <code>x24</code> <code>x32</code>
        <code>x48</code> y <code>x64</code></p>
      <div class="resize-mini mb-32">
        <div class="resize-mini-content">
          <div class="container-6">
            <div class="row">
              <div class="col-xs-12 mb-16 text-center">
                <div class="is-flex align-middle content-center flex-vcenter">
                  {% call insert.svgIconSize() %} {% endcall %}
                  {% call insert.svgIconSize('x24') %} {% endcall %}
                  {% call insert.svgIconSize('x32') %} {% endcall %}
                  {% call insert.svgIconSize('x48') %} {% endcall %}
                  {% call insert.svgIconSize('x64') %} {% endcall %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% set standardcode %}
        <svg-icon src="premium-fitting-room"></svg-icon>
        <svg-icon src="premium-fitting-room" class="x24"></svg-icon>
        <svg-icon src="premium-fitting-room" class="x32"></svg-icon>
        <svg-icon src="premium-fitting-room" class="x48"></svg-icon>
        <svg-icon src="premium-fitting-room" class="x64"></svg-icon>
        {% endset%}
        <pre>
                  <code class="language-markup">{{standardcode}}</code>
                </pre>
      </div>
    </div>
  </div>
</section>





<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Ejemplos de elementos con iconos</div>
    </div>
    <div class="col-xs-12">
      <h2 class="">
        Botones con iconos, puedes ver mas ejemplos en
        <a href="/buttons.html" class="link-line">Buttons</a>.
      </h2>
      {% call insert.svg('has-ico-pre btn-primary','') %} {% endcall %}
      <h2 class="mt-24">
        links con inconos, ver mas ejemplos en
        <a href="/links.html" class="link-lime">Links</a>
      </h2>
      {% call insert.links('link-svg-pre','Link con icono svg-icon al
      inicio','pre','') %} {% endcall %}
      <h2 class="mt-24">listados con iconos</h2>
      {% call insert.listButton('list-button list-icons','') %} {% endcall %}
    </div>
  </div>
</section>
<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Integrar iconos a una maqueta</div>
    </div>
    <div class="col-xs-12">
      <h2 class="mb-24">
        Si lo que necesitas es integrar un icono a una maqueta simple puedes
        meterlo en un contenedor y ordenar con flexbox su apariencia, por
        ejemplo:
      </h2>
      <div class="resize-mini">
        <div class="resize-mini-content">
          <div class="container-6">
            <div class="row">
              <div class="col-xs-12 mb-16 text-center">
                <div class="is-flex">
                  {% call insert.svgIconname('plus') %} {% endcall %}
                  <p class="p-s pl-16">texto</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% set standardcode %}
        <div class="is-flex">
          <svg-icon src="plus"></svg-icon>
          <p class="p-s pl-16">texto</p>
        </div>
        {% endset%}
        <pre>
                <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
                  <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
                  <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
                     </code>
                </pre>
      </div>
      <div class="resize-mini mt-32">
        <div class="resize-mini-content">
          <div class="container-6">
            <div class="row">
              <div class="col-xs-12 mb-16 text-center">
                <div class="is-flex">
                  <div class="is-flex align-multi-center px-16">
                    {% call insert.svgIconname('globe') %} {% endcall %}
                  </div>
                  <div class="row">
                    <div class="col-xs-12 text-left">
                      <span class="p-m-b">Entrega 1</span>
                      <span>- 12343232123</span>
                    </div>
                    <div class="col-xs-12 text-left">
                      <p>Entregado</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% set standardcode %}
        <div class="is-flex">
          <div class="is-flex align-multi-center px-16">
            <svg-icon src="globe"></svg-icon>
          </div>
          <div class="row">
            <div class="col-xs-12 text-left">
              <span class="p-m">Entrega 1</span>
              <span>- 12343232123</span>
            </div>
            <div class="col-xs-12 text-left">
              <p>Entregado</p>
            </div>
          </div>
        </div>
        {% endset%}
        <pre>
                <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
                  <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
                  <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
                     </code>
                </pre>
      </div>
    </div>
  </div>
</section>
<section class="mb-32 mt-32">
  <div class="row">
    <div class="col-xs-12">
      <div class="tit-m">Iconos especiales</div>
    </div>
    <div class="col-xs-12">
      <div class="tit-s c-dark-grey mb-16">
        En ocasiones los iconos pueden aparecer con otros elementos
      </div>
    </div>
  </div>
</section>
<section>
  <div class="resize-mini">
    <div class="resize-mini-content">
      <div class="container-6">
        <div class="row">
          <div class="col-xs-12 mb-16 align-center">
            <div class="ico-ball">
              {% call insert.svgIconname('shopping-bag') %} {% endcall %}
              <div class="ico-count">1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% set standardcode %}
    <div class="ico-ball">
      {% call insert.svgIconname('shopping-bag') %} {% endcall %}
      <div class="ico-count">1</div>
    </div>
    {% endset%}
    <pre>
        <button class="btn btncode" data-clipboard-target="#{{buttonName}}">
          <img src="/assets/static/images/clippy.svg" width="13" alt="Copy to clipboard"> </button >
          <code id="{{buttonName}}" class="language-markup c-{{ buttonName }}">{{standardcode}}  
             </code>
        </pre>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12"></div>
    </div>
  </div>
</section>


</div>





<script src="/assets/js/icons.js"></script>



