---
layout: base.njk
---
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>


<div class="main-content innermarkdown">
  {{ content | safe }}
  <section class="mb-32 mt-32">
    <div class="row">
      <div class="col-xs-12">
        <div class="masonry">
          {% for ratio in global.placeholders %}
          <div class="">
            <img src="  https://holygrailcss.github.io/assets/placeholder/{{ratio.ratio}}.jpg" alt="">
            <div class=" text-12-r"> {{ratio.ratio}}.jpg </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>