---
layout: base.njk
---

{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert  %}




<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}

  {% call tokens.checkbox('checkbox-item-box','Checkbox básico') %} {% endcall %} 
  {% call tokens.checkboxText('checkbox-item-text','Checkbox con texto') %} {% endcall %} 
  {% call tokens.checkbox2('checkbox-item-2','Checkbox switch') %} {% endcall %} 
  {% call tokens.checkboxRadio('checkbox-radio','Radio button') %} {% endcall %} 
  {% call tokens.checkboxCard('checkbox-card','Radio text button') %} {% endcall %} 

  </div>



