---
layout: base.njk
---

{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}
</div>
<div class="main-content">

  {% call tokens.input('Input básico') %}{% endcall %}
  {% call tokens.inputTexto('Input con texto') %}{% endcall %}
  {% call tokens.inputError('Input con error') %}{% endcall %}
  {% call tokens.inputPre('has-ico-pre') %}{% endcall %}
  {% call tokens.inputPost('has-ico-post') %}{% endcall %}
  {% call tokens.inputPwd('Input password') %}{% endcall %}
  {% call tokens.inputDisabled('Input no-touch/disabled') %}{% endcall %}
  {% call tokens.inputIpod('Inputs básicos placeholder sin animación') %}{% endcall %}

</div>