---
layout: base.njk
---

{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}
<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}

  {% call tokens.link('link-line','350') %}
  {% endcall %}

  {% call tokens.link('link-raw','350','Loop marquee ') %}
  {% endcall %}

  {% call insert.links('link-raw' ,'Link básico','','') %}
  {% endcall %}
  {% call insert.links('link-line','Link con una línea o múltiple','','') %}
  {% endcall %}

  {% call insert.links('link-svg-pre','Link con icono svg-icon al inicio','pre','') %}
  {% endcall %}
  {% call insert.links('link-svg-post','Link con icono svg-icon al final','post','') %}
  {% endcall %}

  {% call insert.links('is-error','Links con error','is-error','') %}
  {% endcall %}

</div>