---
layout: base.njk
---

{% import "_macros/_token.njk" as tokens %}
{% import "_macros/_insert.njk" as insert %}

<div class="container-fluid">
  {% include '_website/hero.njk' %}
</div>
<div class="main-content innermarkdown ">{{ content | safe }}




<section class="mb-32 mt-32">
    <div class="row">

        <div class="col-xs-12 "> <div class="tit-xs">  Selects</div>   </div>
        <div class="col-xs-12">
 
            {% call insert.select('','select: Reseteamos el input convirtiendolo en nativo') %}  {% endcall %}

            {% call insert.select('select-flat','Select sin línea') %}  {% endcall %}
            {% call insert.select('select-secondary-rd','Select Secondary responsive ') %}  {% endcall %}

            {% call insert.select('select-label','btn-primary description') %}  {% endcall %}
            {% call insert.select('select-box','Selector de tallas mini') %}  {% endcall %}

            {% call insert.select('w-100','Podemos usar esta clase para extender el input') %}  {% endcall %}



        </div>
    </div>





<div class="row pt-64 pb-64">

    <div class="col-xs-12 ">
        <div class="tit-m"> Selects</div>
    </div>
    <div class="col-xs-12">
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                <strong> Select </strong>Nativos <p> Texto interior </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-xs-12 mb-24 ">
                            <div class="pre-show">
                                <div class="select">
                                    <select>
                                        <option>Select dropdown</option>
                                        <option>With options</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="select">
                                    <select>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="l">L</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-markup"> 
{{"
<div class='select'>
    <select>
        <option value='S'>S</option>
        <option value='M'>M</option>
        <option value='l'>L</option>
        <option value='XL'>XL</option>
    </select>
</div>
"| escape }} </code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-fluid">
                <div class="mb-48">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-title mb-16">
                                <strong> Select </strong>flat sin icono<p> Estilo de selector sin linea al rededor del input </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="pre-show">
                                <div class="select select-flat-no-icon">
                                    <select>
                                        <option>Cualquiera</option>
                                        <option>Mañanas</option>
                                        <option>tardes</option>
                                        <option>24h</option>
                                        <option>Fines de semana</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <pre><code class="language-markup">{{"
<div class='select select-flat-no-icon'>
<select>
        <option>Cualquiera</option>
        <option>Mañanas</option>
        <option>tardes</option>
        <option>24h</option>
        <option>Fines de semana</option>
</select>
</div>
"| escape }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div> 





</section>







  </div>