---
layout: base.njk
title: parrillas index
permalink: /parrillas/
---







<div class="container-fluid">{% include '_website/hero.njk' %}</div>


<section>
  <div class="row">
    <div class="col-xs-12">
      <div class="main-content innermarkdown">

        {{ content | safe }}</div>

        <div class="list-grid masonry-8"> 



	{% for global in global.templates %}
	<a class="text-center" href="#{{ global.parrilla }}" name="modal">
<div class="text-12-r mb-8">{{ global.parrilla.split('-')[1] }}</div>
   <img src="/assets/static/parrillas/{{ global.parrilla }}.jpg"> 
		 </a>
	{% endfor %}
	

		



        </div>

        
    </div>
  </div>
</section>




 {{ content | safe }}</div>


<div id="mask"></div>




<div id="boxes">
	{% for global in global.templates %}
	<div id="{{ global.parrilla }}" class="window pt-24">
	
	

  <div class="modalheader">
    <button class="size-change" data-size="mobile">Mobile</button>
    <button class="size-change" data-size="tablet">Tablet</button>
    <button class="size-change" data-size="desktop">Desktop</button>
	  <a href="#" class="closemodal">Close it</a>

  </div>

    <iframe id="cover1" class="resizable" style="  width: 100%; height:70vh;" src="/{{ global.parrilla }}" frameborder="0"></iframe>


	</div>
	{% endfor %}


<script src="/assets/js/modal-actions.js"></script>