<div class="row has-light ">
    <div class="col-xs-12  has-light height-md bg-dark">
        <div class="hero  ">
        <div class="guide-header flex-column">
            <h1 class="mb-16" > {{ titulo }}</h1>
            <h5 > {{ descripcion }} </h5>

        </div>
      </div>
    </div>
</div> 
