    <div class=" menu-superior w-100">
        <div class="row  p-16 ">
            <div class="col-xs-4 is-flex">
                <a aria-label="link logo simple" href="/">
<h4 class="fluid-3-b mb-16 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
Holyguide v2
          </h4>
                </a>
            </div>
            <div class="col-xs-8 text-right is-flex align-multi-center content-end">
                <div class="menu ">
                    <div class="menu-mobile">
                        <div id="menu-toggle"> MENU
                            <div class="menu-toogle-bars">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <ul class=" menu-desktop  list-clear   text-right is-flex  content-end text-14-b">
                        <li class="pl-16"> <a aria-label="link menu superior" class="menu-desktop" href="/foundations">Foundations </a> </li>
                        <li class="pl-16"> <a aria-label="link menu superior" class="menu-desktop" href="/components"> Components </a></li>
             
                          <li class="pl-16">  <a aria-label="link menu superior" class="menu-mobile-li" href="/templates"> Templates </a> </li>
                                       <li class="pl-16"> <a aria-label="link menu superior" class="menu-desktop" href="/start-design"> Design </a></li>
                                 <li class="pl-16"> <a aria-label="link menu superior" class="menu-desktop" href="/develop"> Develop </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
