@import "../abstract/_all.scss";
$separator-50-height: 33.3%;
.grid-product-wrap--separator50 {
  height: 100%;
  width: 100%;
  margin: 0;
  .rat-3-2::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $separator-50-height;
  }
  .grid-product-list--separator50 {
    height: 100%;
    width: 100%;
  }
  .relative {
    height: auto !important;
  }
  .img-poster {
    padding-top: $separator-50-height;
    .card9-image {
      width: 100%;
      height: auto;
      margin: auto;
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  }
  .sk-load5:before {
    padding-top: $separator-50-height;
  }

  .charging,
  .charged {
    overflow: hidden;
    height: 100%;
  }
}
