---
layout: base-clean.njk
title: footer
permalink: /footer/
---

{% import "_macros/_feel.njk" as feel %}
{% import "_macros/_insert.njk" as insert %}

<div class="footer has-light bg-primary pt-32">


    <div class="container">
        <div class="row content-center text-center mb-64">
            <div class="col-xs-10 col-sm-10">
                <p class="p-s">SUSCRÍBETE A NUESTRA NEWSLETTER Y DESCUBRE TODAS LAS TENDENCIAS</p>
                <button class="btn btn-secondary btn-small mt-16">SUSCRÍBETE</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row mb-48">
            <div class="col-xs-12 col-md-3">
                <ul class="list-clear p-s">
                    <li class="pb-16">
                          <a  class="p-s-b" href="">AYUDA</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">CONTACTO</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">PREGUNTAS FRECUENTES</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">ACCESIBILIDAD</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">LOCALIZA TU PEDIDO</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">TICKET FACTURA</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3">
                <ul class="list-clear p-s">
                    <li class="pb-16">
                        <a class="p-s-b" href=""> SERVICIOS </a>
                    </li>
                    <li class="pb-16"><a href=""></a> NUESTRO SERVICIOS </a></li>
                    <li class="pb-16"><a href=""></a> PERSONAL TAILORING </a></li>
                    <li class="pb-16"><a href=""> MASSIMO DUTTI FEEL </a></li>
                    <li class="pb-16"><a href=""> TARJETA REGALO </a></li>
                    <li class="pb-16"><a href=""> INFORMACIÓN ENVÍOS </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3">
                <ul class="list-clear p-s">
                    <li class="pb-16">
                        <a class="p-s-b pb-16" href="">LEGAL</a>
                    </li>
                    <li class="pb-16">
                        <a  href="">CONDICIONES DE COMPRA</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">POLÍTICA DE PRIVACIDAD</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">POLÍTICA DE DEVOLUCIONES</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">POLÍTICA DE COOKIES</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">CONFIGURACIÓN DE COOKIES</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3">
                <ul class="list-clear p-s">
                    <li class="pb-16">
                          <a  class="p-s-b" href="">EMPRESA</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">DESCARGAR NUESTRA APP</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">SOBRE MASSIMO DUTTI</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">LOCALIZADOR DE TIENDAS</a>
                    </li>
                    <li class="pb-16">
                          <a  href="">PRENSA</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row mb-40">
            <div class="col-xs-12 col-sm-8 pt-16 pb-16">
                <ul class="list-inline">
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                    <li><a href="" class="link-raw p-s">LINKS</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 text-right pt-16 pb-16">
                <div class="p-s">ESPAÑA | ES</div>
            </div>
        </div>
    </div>


</div>