---
layout: base-clean.njk
---
<div class='form-input-label-2 mb-16 is-error'>
    <input type='email' id='bb' class='input' placeholder='Email address' required='' />
    <label for='bb'>form input label 2</label>
    <div class='c-dark-grey info-text p-xs text-right'>0/3</div>
    <div class='validation-error-messages'>
        <div class='c-dark-grey p-xs'> Mensaje de info </div>
        <div class='help p-xs'>
            <svg-icon src='warning'></svg-icon>
            <svg-icon src='warning' class='pr-8'> <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M8.5 8V8.5H7.5V8H8.5ZM7.5 5V4.5H8.5V5H7.5ZM8.5 11C8.5 11.2761 8.27614 11.5 8 11.5C7.72386 11.5 7.5 11.2761 7.5 11H8.5ZM7.5 10.5C7.5 10.2239 7.72386 10 8 10C8.27614 10 8.5 10.2239 8.5 10.5H7.5ZM14.5 8C14.5 4.41015 11.5899 1.5 8 1.5V0.5C12.1421 0.5 15.5 3.85786 15.5 8H14.5ZM8 1.5C4.41015 1.5 1.5 4.41015 1.5 8H0.5C0.5 3.85786 3.85786 0.5 8 0.5V1.5ZM1.5 8C1.5 11.5899 4.41015 14.5 8 14.5V15.5C3.85786 15.5 0.5 12.1421 0.5 8H1.5ZM8 14.5C11.5899 14.5 14.5 11.5899 14.5 8H15.5C15.5 12.1421 12.1421 15.5 8 15.5V14.5ZM7.5 8V5H8.5V8H7.5ZM7.5 11V10.5H8.5V11H7.5Z' fill='black'></path> </svg> </svg-icon>
            Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente Mensaje de error nuevo , empuja el
            siguiente Mensaje de error nuevo , empuja el siguiente
        </div>
    </div>
</div>

