.innermarkdown {
  padding-bottom: 40px;

  table {
    width: 100%;
    text-align: left;

    th,
    tr,
    td {
      padding: 10px 0;
      border-bottom: 1px solid #eaeaea;
    }
  }

  td:first-child {
    width: 18%;
    min-width: 58px;
    font-weight: 600;
    white-space: nowrap;
  }
  th {
    color: #5c6b77;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
    border-width: 1px 1px 2px;
  }

  ul {
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    li {
      margin-bottom: 12px;
    }
  }

  hr {
    margin-top: 20px;
    margin-bottom: 40px;
    @media (min-width: $break-md) {
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }
  p,
  li {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  h1 {
    margin-top: 24px;
    padding-bottom: 20px;
    @include fluid-text($min_width, $break-lg, 34px, 60px, 1);
    width: 100%;
    line-height: 1;
    @include font-bold();
  }
  h2 {
    margin-top: 24px;
    padding-bottom: 20px;
    @include fluid-text($min_width, $break-lg, 34px, 50px, 1);
    width: 100%;
    line-height: 1;
    @include font-bold();
  }
  h3 {
    margin-top: 24px;
    padding-bottom: 20px;
    @include fluid-text($min_width, $break-lg, 24px, 40px, 1);
    line-height: 1;
    @include font-bold();
  }
  h4 {
    margin-top: 24px;
    @include font-bold();
    padding-bottom: 8px;
    @include fluid-text($min_width, $break-lg, 20px, 30px, 1);
  }
  h5 {
    margin-top: 0px;
    @include font-bold();
    padding-bottom: 8px;
    @include fluid-text($min_width, $break-lg, 18px, 20px, 1);
    color: $c-secondary;
  }

  h6 {
    margin-top: 0px;
    @include font-bold();
    margin-bottom: 24px;
    @include fluid-text($min_width, $break-lg, 14px, 18px, 1);
    color: $c-secondary;
  }

  .eleventy-plugin-youtube-embed {
    width: 120% !important;
    transform: translateX(-8%);
    margin-left: 0;
    max-width: 100vw;
    margin-top: 32px;
    margin-bottom: 32px;
    @media (min-width: $break-md) {
      width: 120% !important;
      transform: translateX(-50%);
      margin-left: 50%;
      max-width: 1000px;
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }

  blockquote {
    background-color: #f1f1f1;
    padding: 16px 16px 1px 16px;
    border-left: 5px solid purple;
    p {
      line-height: 2;
      font-style: italic;
    }
  }
}
