$nav-width: 250px;

h1 {
  @include fluid-text($min_width, $break-lg, 24px, 60px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

h2 {
  @include fluid-text($min_width, $break-lg, 20px, 50px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

h3 {
  @include fluid-text($min_width, $break-lg, 18px, 40px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

h4 {
  @include fluid-text($min_width, $break-lg, 16px, 30px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

h5 {
  @include fluid-text($min_width, $break-lg, 14px, 20px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

h6 {
  @include fluid-text($min_width, $break-lg, 14px, 16px, 1);
  width: 100%;
  line-height: 1;
  @include font-bold();
}

.main-content {
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  max-width: 920px;
}

.guide-colors {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(25% - 12px);

  .guide-colors-bg {
    width: 100%;
    aspect-ratio: 1/1;
  }

  .guide-colors-text {
    padding-top: 10px;
    text-align: left;
    width: 100%;
    float: left;
    font-weight: 100;
  }

  .guide-colors-text span {
    opacity: 0.3;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.menu-superior {
  width: 100%;
  padding-right: 20px;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;
  background: #fff;
  height: 70px;
  border-bottom: 1px solid #d7d7d7;
}

.guide-header {
  padding: 0 100px;
  max-width: 800px;
  width: 100%;
}

.hero {
  height: 100%;
  display: flex;
  padding: 0 2%;
  align-items: center;
}

.item-i {
  min-width: 20%;
  min-height: 20%;
  display: block;
  border: 1px solid $c-white;
  box-sizing: border-box;
}

.item-i:nth-child(1) {
  background-color: $primary-guide;
  opacity: 0.93;
}

.item-i:nth-child(2) {
  background-color: $primary-guide;
  opacity: 0.83;
}

.item-i:nth-child(3) {
  background-color: $primary-guide;
  opacity: 0.79;
}

.item-i:nth-child(4) {
  background-color: $primary-guide;
  opacity: 0.72;
}

.item-i:nth-child(5) {
  background-color: $primary-guide;
  opacity: 0.65;
}

.item-i:nth-child(6) {
  background-color: $primary-guide;
  opacity: 0.58;
}

.item-i:nth-child(7) {
  background-color: $primary-guide;
  opacity: 0.51;
}

.item-i:nth-child(8) {
  background-color: $primary-guide;
  opacity: 0.44;
}

.item-i:nth-child(9) {
  background-color: $primary-guide;
  opacity: 0.37;
}

.item-i:nth-child(10) {
  background-color: $primary-guide;
  opacity: 0.3;
}

.mini-box {
  background: #eaeaea;
  color: #757171;
  font-size: 8px;

  float: left;
  overflow: initial !important;
  position: relative;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #f0f;

  img {
    width: 100%;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  .rat-content {
    display: flex;
    font-size: 14px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include font-2-bold;
    color: #f0f;

    .p-xs {
      position: absolute;
      right: 4px;
      bottom: 4px;
      opacity: 0.5;
    }
  }
}

.mini-box-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: #ffffff;
}

.item-w {
  width: 46px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #eceff3;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.code-view {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #eaeaea;
  transition: 0.2s ease all;
}

.check-new {
  width: 30px;
  height: 16px;
  background-color: #28292d;
  overflow: hidden;
  border-radius: 50px;
  position: absolute;
  top: 4px;
  right: 2px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }

  &:after {
    content: "";
    top: 2px;
    right: 2px;
    transition: 0.2s ease all;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    transition: 0.2s;
    border-radius: 50px;
  }

  &:before {
    content: "";
    top: 2px;
    right: -14px;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: transparent;
    z-index: 2;
    border-radius: 50px;
    transition: 0.2s;
  }

  .has-light & {
    background-color: #ffffff;
    &:after {
      content: "";
      top: 2px;
      right: 16px;
      position: absolute;
      background-color: #28292d;
    }
    &:before {
      content: "";
      top: 2px;
      right: 10px;
      position: absolute;
      background-color: #ffffff;
      z-index: 2;
    }
  }
}

.nav-guide {
  position: fixed;
  width: $nav-width;
  height: calc(100vh - 71px);
  top: 70px;
  padding: 16px;
  color: black;
  background-color: #ffffff;
  border-right: 1px solid #e3e3e3;
  z-index: 11;
  overflow: auto;

  .menu-lateral {
    padding-bottom: 32px;
  }

  @media (max-width: 767px) {
    transform: translateX(-250px);
    transition: all ease-in-out 0.4s;

    &.open-menu {
      transform: translateX(0px);
      transition: all ease-in-out 0.4s;
    }
  }
}

.main-widthsidebar {
  margin-top: 71px;
  margin-left: $nav-width;
  width: calc(100vw - (#{$nav-width} + 16px));
  overflow: hidden;
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 50px;
    margin-left: 0px;
    overflow: hidden;
  }
}

.opencode-button {
  .viewcode {
    height: 400px;
  }
}

// grid icons
#loopicons,
#loopicons2,
#loopicons3,
#loopicons4,
#loopicons5 {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  article {
    width: calc(50% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4px;
    padding: 8px;
    border-radius: 4px;

    span {
      text-align: center;
    }

    .myspan {
      font-size: 12px;
      padding-top: 16px;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    article {
      width: calc(10% - 8px);
    }
  }
}

.has-error {
  svg-icon {
    path {
      fill: $c-error;
    }
  }
}

.has-success {
  svg-icon {
    path {
      fill: $c-success;
    }
  }
}

.has-light {
  article {
    background: transparent;
  }

  svg-icon {
    path {
      fill: $c-white;
    }

    circle {
      stroke: $c-white;
    }
  }

  //todo holygrail
  input:focus {
    outline: none;
    border: 1px solid $c-white;
  }

  .input,
  .textarea,
  .select select {
    color: $c-white;
  }
}

.tabguide-content {
  padding: 20px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg-icon {
    margin-bottom: 8px;
  }
}

.btncode {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 0 0 0 4px;
  filter: invert(1);
}
