@import "base/_fonts.scss";
@import "abstract/_setup.scss";
$space-left: calc(((100vw - 1280px) / 2));
$width-left: calc((1280px + (100vw - 1280px) / 2));
@import "../../../node_modules/holygrailcss/scss/style.scss";
// -FASE 4 : OVERRIDE YOUR HOLYGRAIL
@import "./prism.scss";
@import "./header2.scss";
@import "./_menu.scss";
@import "./_swiper.scss";
@import "./_video.scss";
@import "./_blog.scss";
@import "./_brands.scss";
@import "./_resize.scss";
@import "./_dummyproduct.scss";
@import "./guia.scss";
@import "./theme.scss";
@import "parrillas/_all.scss";
//@import "parrillas/*";
$primary-color: var(--primary-color);
$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$bg-dark: var(--bg-dark);
$c-bg-dark: var(--c-bg-dark);
$bg-light: var(--bg-light);
$c-bg-light: var(--c-bg-light);
body {
  overflow-x: hidden;
  color: $primary-color;
  scroll-behavior: smooth;
}
p {
  font-size: inherit;
}
strong {
  color: $primary;
}
.bold {
  @include font-bold;
}
b {
  color: $c-secondary;
}
a {
  &:hover {
    cursor: pointer;
  }
}
.bg-dark {
  background-color: $bg-dark;
  color: $c-bg-dark;
}
.bg-light {
  background-color: $bg-light;
  color: $c-bg-light;
}
.has-light {
  a {
    color: white;
  }
}
.header-img {
  position: relative;
}
.ttc {
  text-transform: capitalize;
}
.container-full {
  max-width: 1600px;
}
.product-tag {
  font-family: "dutti-daily-bold";
  font-size: 14px;
  color: $c-primary;
  letter-spacing: 0;
  line-height: 16px;
}
.template-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 8px;
  background-color: #a1bfa0;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.grid-product,
ul {
  position: relative;
}
.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.masonry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  align-items: start;
}
.masonry-8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  img {
    border: 1px solid #eaeaea;
  }
}
code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 3px;
}
.texto-ellipsis {
  height: 50px;
  overflow: hidden;
}
.modal-container {
  display: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  &.modal-open {
    display: block;
    visibility: visible;
  }
  .modalx-backdrop {
    background-color: rgba($primary, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &.bg-transparent {
      background-color: rgba($primary, 0);
    }
  }
  .modal-content {
    position: relative;
    z-index: 1;
  }
  .modalx {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .modalx-dialog {
      width: 100%;
      margin: auto;
      background-color: $c-white;
      max-height: calc(100vh - 24px);
      overflow-x: auto;
      .modalx-content {
        position: relative;
      }
      .modalx-close {
        position: absolute;
        right: 0;
        left: 0;
        &.hidden {
          display: none;
        }
      }
      .modalx-body {
        width: 100%;
      }
    }
  }
  .start-options {
    position: absolute;
    z-index: 100;
    &.hidden {
      display: none;
    }
  }
  .sidebar-options {
    display: none;
    position: absolute;
    top: 0;
    z-index: 100;
    width: auto;
    background: #fff4;
    padding: 24px;
    height: 100%;
    &.visible {
      display: block;
    }
    .content-options {
      overflow: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 8px;
      &::-webkit-scrollbar {
        width: 10px;
        height: 5px;
        background: transparent;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba($c-white, 0.2);
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: $c-white !important;
      }
    }
    @media (max-width: 767px) {
      height: auto;
      width: 100%;
      padding: 16px 0px 0px;
      .content-options {
        flex-direction: row;
      }
    }
  }
}
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position: fixed;
  z-index: 9000;
  background-color: rgb(0 0 0 / 41%);
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
}
#boxes .window {
  position: fixed;
  width: 900px;
  display: none;
  z-index: 9999;
  max-height: calc(100vh - 10%);
  overflow: auto;
  padding: 20px;
  top: 5%;
  background-color: #fff;
}
/* Customize your modal window here, you can add background image too */
#boxes .dialog {
  width: 375px;
  height: 203px;
  background-color: #fff;
}

.modalheader{
  position: relative;
  padding-bottom: 20px;
}
.closemodal {
  position: absolute;
  right: 0px;
  top: 0px;
}
